{{#each this}}
<li class="home-page-item">
    <img src="{{./images/rectangle5.png}}" alt="{{постер фильма}}" class="home-page-image">
    <h1 class="movie-title">{{GREYHOUND}}</h1>
    <p class="genre">{{Drama, Action | 2020}}</p>
</li>
{{/each}}