body {
  margin: 0;
  color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 0;
  margin: 0;
}
.card {
  /* font-family: "Roboto", sans-serif;
  font-weight: 500; */
  width: 882px;
  height: 514px;
  padding: 60px 71px 60px 71px;
  /* padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 71px;
  padding-right: 71px; */
  margin-left: auto;
  margin-right: auto;
}
.poster-image {
  width: 426px;
  height: 514px;
  float: left;
  margin-right: 30px;
}
.value {
  justify-content: flex-end;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
}
.item {
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.key {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  color: #8c8c8c;
}
.key:not(:last-child),
.value:not(:last-child) {
  margin-bottom: 10px;
}
.key:last-child,
.value:last-child {
  margin-bottom: 20px;
}
hr {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  margin-left: 4px;
  margin-right: 4px;
}
.flex-ul {
  display: flex;
}
.keys {
  margin-right: 90px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
}
.about-title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  font-weight: 500;
  font-style: normal;

  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
}
.about-text {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */
}
.button {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  width: 136px;
  height: 44px;
  border: 1px solid #000000;
  border-radius: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
}
.button:hover {
  background-color: #ff6b01;
  color: #ffffff;
  border: 1px solid #ff6b01;
}
.first-button {
  margin-right: 15px;
}
.vote {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 36px;
  height: 16px;
  background-color: #ff6b01;
  color: #ffffff;
  border-radius: 5px;
}
